{{#if error}}
<h1 style="color:red">{{error}}</h1>
{{else}}
<h1>Crea una cuenta:</h1>
{{/if}}
<form validated action="/private" method="post">
  <p>
    Tu nombre de usuario:
    <input value="{{username}}" name="username" type="text" required>
  </p>
  <p>
    correo:
    <input value="{{email}}" name="email" type="email" required>
  </p>
  <p>
    password:
    <input name="password" type="password" required>
  </p>
  <p>
    repite tu password:
    <input name="password2" type="password" required>
  </p>
  <p>
    <input type="submit">
  </p>
</form>
<h1>EL SIGUIENTE ES PARA ELEMINAR</h1>
<form validated action="/private" method="post">
  <p>
    Nombre de usuario que quieras eleminar:
    <input value="{{deleteusername}}" name="deleteusername" type="text" required>
    <button id="delete">eleminar</button>
  </p>
  </form>
